.flex.min-h-full.flex-col.justify-center.py-12.sm:px-6.lg:px-8
  .sm:mx-auto.sm:w-full.sm:max-w-md
    %h2.mt-6.text-center.text-3xl.tracking-tight.text-gray-900 
      = @publication.name

  .mt-8.sm:mx-auto.sm:w-full.sm:max-w-md
    .py-8.px-4.shadow{class: 'sm:rounded-lg.sm:px-10', "data-controller": "publication-users"}
  
      = simple_form_for @publication , url: publication_path(@publication), method: :put do |f|
        %div.mb-6
          %label.block.text-sm.font-medium.text-gray-700{for: "email"} Name
          .mt-1
   
            = f.input :name, label:false, input_html:{ class: 'block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm  focus:border-emerald-500 focus:outline-none focus:ring-emerald-500 sm:text-sm'}

       

        %div.mb-6
          %label.block.text-sm.font-medium.text-gray-700{for: "email"} Bio
          .mt-1
      
            = f.input :bio, as: :text,maxlength: 160, label: false, input_html:{rows: 5, class: 'block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm  focus:border-emerald-500 focus:outline-none focus:ring-emerald-500 sm:text-sm'}

            .text-black
              Editors
            .flex.flex-wrap.text-xs.gap-5{'data-publication-users-target': 'newEmails'}
              
              - @publication.editors.each do |editor|
                
                = editor.user.email
                - if editor.user.pending_acceptance?
                  (Requested)

             
                -# this is where the new emails will be added


            = f.hidden_field :invited_by, value: current_user.id
            = f.hidden_field :editor_emails, 'data-publication-users-target': 'editorEmails', value: []
            = f.text_field :user_email, 'data-publication-users-target': 'emailInput', class: 'block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm  focus:border-emerald-500 focus:outline-none focus:ring-emerald-500 sm:text-sm'
            .btn-primary{type: "button", "data-action": "click->publication-users#add"} Add User
        %div.mb-6
          -# admin ids to pass to the controller
          
          %label.block.text-sm.font-medium.text-gray-700{for: "email"} Bio
          .mt-1
          
            = f.input :bio, as: :text,maxlength: 160, label: false, input_html:{rows: 5, class: 'block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm  focus:border-emerald-500 focus:outline-none focus:ring-emerald-500 sm:text-sm'}

        = f.button :submit, value: 'Save', 'data-onboarding-target': 'saveButton',class: 'flex w-full justify-center rounded-md border border-transparent bg-emerald-800 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-emerald-900 cursor-pointer focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2{type: "submit"}'

