- title "#{@publication.name} Settings"
.flex.min-h-full.flex-col.justify-center.py-12.sm:px-6.lg:px-8
  .sm:mx-auto.sm:w-full.sm:max-w-md
    %h2.mt-6.text-center.text-3xl.tracking-tight.text-gray-900 
      = @publication.name

  .mt-8.sm:mx-auto.sm:w-full.sm:max-w-md
    .py-8.px-4.shadow{class: 'sm:rounded-lg.sm:px-10', "data-controller": "publication-users"}
  
      = simple_form_for @publication , html: {'data-publication-users-target': 'form'},url: publication_path(@publication), method: :put do |f|
        %div.mb-6
          %label.block.text-sm.font-medium.text-gray-700{for: "email"} Name
          .mt-1
   
            = f.input :name, label:false, input_html:{ class: 'input-custom'}

       

        %div.mb-6
          %label.block.text-sm.font-medium.text-gray-700{for: "email"} Bio
          .mt-1
      
            = f.input :bio, as: :text,maxlength: 160, label: false, input_html:{rows: 5, class: 'input-custom rounded-md'}
        
        %div.mb-6
          %label.block.text-sm.font-medium.text-gray-700.mb-5
            Editors
          .flex.flex-wrap.text-xs.gap-2{'data-publication-users-target': 'newEmails'}
            
            - @publication.editors.each do |editor|
              
              .border.rounded-full.border-gray-200.px-3.py-2
                .editor{style: "display: inline-block"}
                  = editor.user.email

                - if editor.user.pending_acceptance?
                  .div{style: "display: inline-block"}(Requested)

                - if policy(@publication).current_user_is_admin?
                  %svg.feather.feather-x{:fill => "none", :height => "14", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1", :viewbox => "0 0 24 24", :width => "14", :xmlns => "http://www.w3.org/2000/svg", :style => 'display: inline-block',"data-action": "click->publication-users#removeEditor"}
                    %line{:x1 => "18", :x2 => "6", :y1 => "6", :y2 => "18"}
                    %line{:x1 => "6", :x2 => "18", :y1 => "6", :y2 => "18"}

                
              -# this is where the new emails will be added

          - if policy(@publication).current_user_is_admin?
            = f.hidden_field :invited_by, value: current_user.id
            = f.hidden_field :editor_emails, 'data-publication-users-target': 'editorEmails', value: []

         
            %div
              
              .mt-2.flex.rounded-full.shadow-sm
                .relative.flex.flex-grow.items-stretch.focus-within:z-10
                  
                  %input#email.block.w-full.rounded-none.rounded-l-full.border-0.text-gray-900.ring-1.ring-inset.ring-gray-300.placeholder:text-gray-400.focus:ring-2.focus:ring-inset.focus:ring-sky-500.sm:text-sm.sm:leading-6{:class => "py-1.5", :name => "email", :placeholder => "Enter email...", :type => "email", 'data-publication-users-target': 'emailInput'}/
                %button.relative.-ml-px.inline-flex.items-center.rounded-r-full.px-3.py-2.text-sm.font-medium.text-gray-900.ring-1.ring-inset.ring-gray-300.hover:bg-gray-50{:class => "gap-x-1.5", :type => "button", "data-action": "click->publication-users#addEditor"}
                  
                  Add as Editor

            
           
        %div.mb-6

          %label.block.text-sm.font-medium.text-gray-700.mb-5
            Admins
          .flex.flex-wrap.text-xs.gap-2{'data-publication-users-target': 'newAdmins'}
            
            - @publication.admins.each do |admin|
              
              .border.rounded-full.border-gray-200.px-3.py-2
                .admin{style: "display: inline-block"}
                  = admin.user.email

                - if admin.user.pending_acceptance?
                  .div{style: "display: inline-block"}(Requested)
                
                
                - if policy(@publication).current_user_is_admin? && admin.user != current_user
                  %svg.feather.feather-x{:fill => "none", :height => "14", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1", :viewbox => "0 0 24 24", :width => "14", :xmlns => "http://www.w3.org/2000/svg", :style => 'display: inline-block',"data-action": "click->publication-users#removeEditor"}
                    %line{:x1 => "18", :x2 => "6", :y1 => "6", :y2 => "18"}
                    %line{:x1 => "6", :x2 => "18", :y1 => "6", :y2 => "18"}
              
              -# this is where the new emails will be added

          - if policy(@publication).current_user_is_admin?
            = f.hidden_field :invited_by, value: current_user.id
            = f.hidden_field :admin_emails, 'data-publication-users-target': 'adminEmails', value: []

            
            %div
              
              .mt-2.flex.rounded-md.shadow-sm
                .relative.flex.flex-grow.items-stretch.focus-within:z-10
                  
                  %input#email.block.w-full.rounded-none.rounded-l-full.border-0.text-gray-900.ring-1.ring-inset.ring-gray-300.placeholder:text-gray-400.focus:ring-2.focus:ring-inset.focus:ring-sky-500.sm:text-sm.sm:leading-6{:class => "py-1.5", :name => "email", :placeholder => "Enter email...", :type => "email", 'data-publication-users-target': 'adminEmailInput'}/
                %button.relative.-ml-px.inline-flex.items-center.rounded-r-full.px-3.py-2.text-sm.font-medium.text-gray-900.ring-1.ring-inset.ring-gray-300.hover:bg-gray-50{:class => "gap-x-1.5", :type => "button", "data-action": "click->publication-users#addAdmin"}               
                  Add as Admin

        - if policy(@publication).current_user_is_admin?
         
          %button.flex.ml-auto.btn-primary{:class => "gap-x-1.5", :type => "button", "data-action": "click->publication-users#getFinalEditors"}               
            Save

        - else
          = f.button :submit, value: 'Save', class: 'flex ml-auto btn-primary {type: "submit"}'
        -# .flex.flex-row.mt-3
        -#   .text-end.w-full.text-red-500
        -#     Delete Publication

      -  if policy(@publication).current_user_is_admin?
        %hr.mt-10.mb-5 
        - @publication_user = @publication.publication_users.where(user: current_user).first
        .flex.flex-row.justify-end.items-center.gap-2.text-grey-500.block.text-left.py-2.text-sm.text-grey-500.hover:text-black.opacity-25{class: "#{policy(@publication_user).destroy? ? 'opacity-50' : 'opacity-25'}"}
          
          %svg.feather.feather-log-out{:fill => "none", :height => "20", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
          
            %path{:d => "M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"}
            %polyline{:points => "16 17 21 12 16 7"}
            %line{:x1 => "21", :x2 => "9", :y1 => "12", :y2 => "12"}

        
          = link_to_if policy(@publication_user).destroy?, 'Leave Publication', @publication.publication_users.where(user: current_user).first, data: {turbo_method: :delete, class: 'opacity-100', turbo_confirm: 'Are you sure you want to leave this publication?'}, role: "menuitem", tabindex: "-1"
        


        .flex.flex-row.justify-end.items-center.gap-2

          %svg.feather.feather-trash{:fill => "none", :height => "20", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
            %polyline{:points => "3 6 5 6 21 6"}
            %path{:d => "M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"}

          = link_to 'Delete Publication', @publication, data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this publication?'}, class: "block text-left  py-2 text-sm text-red-400 hover:text-red-600", role: "menuitem", tabindex: "-1"
            

