.flex.flex-col.mx-auto.max-w-3xl.mt-10.px-5
  
  = render 'user_profiles/settings_header', selected: 'publications'

  
  - if @publications.empty?
    .text-center.mb-10
      You dont have any publications yet. 
  
    %button.btn-secondary.mx-auto{type: "button"}

      = link_to 'Create your first Publication', new_publication_path
  - else
  

   


    .flex.justify-end
      = link_to '+ Create a New Publication', new_publication_path, class: 'text-green-900'

    -# link to each publication
    - @publications.uniq.each do |publication|
      .flex.flex-row.pb-10
        = link_to "#{publication.name}", publication_path(publication)
  