%p 
  Hi #{@user.name},
%p
  You have been invited as an #{@role} to the publication '#{@publication.name}'. To continue, please click the button below to create your account on Writter.
  = @user.raw_invitation_token
%p= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@user, invitation_token: @user.raw_invitation_token)

  
%p
  = t("devise.mailer.invitation_instructions.ignore")
