.flex.flex-row.justify-between.items-center
  .text-left.font-semibold.md:text-4xl.text-xl
    #{@user.name}

  - if current_user.nil?
    = link_to 'Follow', new_user_session_path,  class: 'btn-secondary'

  - elsif current_user && current_user == @user
    .btn-secondary
      .btn-secondary-inner
        = link_to 'Edit Profile', edit_user_registration_path(@user)
  - else
    - if current_user.following.include?(@user)
      - follow = Follow.find_by(followable_id: @user.id, followable_type: @user.class.to_s, user: current_user.id)
      = button_to '', follow_path(follow), method: :delete, class: "relative before:content-['Following']  hover:before:content-['Unfollow'] text-center items-center rounded-full border border-gray w-28 py-1 text-sm font-medium shadow-sm hover:text-red-500 hover:border-red-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" 
    
    - else
      
      = button_to "Follow", follows_path, params:{ follow: {followable_id: @user.id, followable_type: @user.class.to_s}}, method: :post, class: 'btn-primary py-1 text-sm '
.text-slate-400.mb-3.flex.flex-row.gap-3
  @#{@user.username}

%p.mb-3
  #{@user.bio}
.text-slate-400.mb-3.flex.flex-row.gap-5
  
  -if @user.location.present?
    .flex.flex-row.gap-1
      %i{"data-feather" => "map-pin",class: 'w-5'}
      #{@user.location}
      
  -if @user.website.present?
    .flex.flex-row.gap-1
      %i{"data-feather" => "link-2",class: 'w-5'}
      = link_to @user.website, @user.website, target: "_blank"

- if action_name != 'followers' && action_name != 'following'
  .flex.flex-row.text-slate-400.mb-3.gap-5
    = link_to followers_user_profile_path(@user), class: 'flex flex-row gap-1 text-sm ' do
      .text-black.font-semibold
        #{@user.followers.count} 
      .text-slate-400 Followers
    
    = link_to following_user_profile_path(@user), class: 'flex flex-row gap-1 text-sm ' do
      .text-black.font-semibold
        #{@user.following.count} 
      .text-slate-400 Following
   