.flex.flex-col.mx-auto.max-w-3xl.mt-10.px-5
  
  = render 'settings_header'
  .flex.flex-col.gap-3

    
    .flex.flex-row.justify-between{"data-controller": "toggle"}
      Email Notifications
      %button.bg-gray-200.relative.inline-flex.h-6.w-12.flex-shrink-0.cursor-pointer.rounded-full.border-2.border-transparent.transition-colors.duration-200.ease-in-out.focus:outline-none.focus:ring-2.focus:ring-indigo-500.focus:ring-offset-2{"aria-checked" => "false", role: "switch", type: "button", "data-action": "click->toggle#changeFormField" , "data-toggle-target": 'toggle'}
        %span.sr-only Use setting
        / Enabled: "translate-x-5", Not Enabled: "translate-x-0"
        %span.translate-x-0.pointer-events-none.inline-block.h-5.w-5.transform.rounded-full.bg-white.shadow.ring-0.transition.duration-200.ease-in-out{"aria-hidden" => "true","data-toggle-target": 'span'}

    -# = simple_form_for current_user , url: user_profile_path(current_user), method: :put do |f|
    -#   = f.check_box :notifications, checked: current_user.notifications
   
    -#   = f.collection_radio_buttons :notifications_freq, User.notifications_freqs., :first, :last, input_html: {onclick: "console.log('blah')", class: 'h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500'}
      
      

    -#   = f.button :submit, value: 'Update', 'data-onboarding-target': 'saveButton', input_html: {"data-action": 'click->onboarding#checkUsername'},class: 'flex w-full justify-center rounded-md border border-transparent bg-emerald-800 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-emerald-900 cursor-pointer focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2{type: "submit"}'


    = form_for(current_user, url: user_profile_path(current_user), method: :put, html: { class: 'space-y-6'}) do |f|
    
      %div
        %label.block.text-sm.font-medium.text-gray-700{for: "email"} Email address
        .mt-1
          = f.check_box :email, autofocus: true, autocomplete: "email",class: 'h-10 w-4 rounded border-gray-300 text-emerald-600 focus:ring-emerald-500{name: "remember-me", type: "checkbox"}'
          .mt-1
      
          = f.radio_button :notifications_freq, class: 'h-10 w-10 border-gray-300 focus:ring-indigo-500{name: "notifications_freq", type: "radio"}'
          
      %div
        %label.block.text-sm.font-medium.text-gray-700{for: "password"} Notifcation Timing
        .mt-1

          -# = f.collection_radio_buttons :notifications_freq, User.notifications_freq, :second, :first do |b| 
          = f.collection_radio_buttons :notifications_freq, User.notifications_freqs, :second, :first,html_options: {class:'border-gray-300.text-indigo-600.focus:ring-green-500'} do |b| |
            .flex.flex-row.justify-between
              %div.text-green-500
                = b.label
              %input.h-4.w-4.border-gray-300.text-green-800{checked: "checked", name: "notifications_freq", type: "radio"}/
              
              -# = b.radio_button        
          
         
                         
-# -#         - current_user.errors.full_messages.each do |msg|
-# -#           = msg    

-# -#       %div
-# -#         = f.submit "Sign up", class: 'flex w-full justify-center rounded-md border border-transparent bg-emerald-800 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-emerald-900 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-offset-2{type: "submit"}'
        

-# -# h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500