- title "#{@user.name}"
.flex.flex-col.mx-auto.max-w-3xl.mt-10.px-5
  = render 'user_card'
  - if current_user == @user
    = render 'shared/private_user_posts'
  - else
    = render 'shared/public_user_posts', posts: @posts
  
  = paginate @posts
