.flex.min-h-full.flex-col.justify-center.py-12.sm:px-6.lg:px-8
  .sm:mx-auto.sm:w-full.sm:max-w-md
    = image_tag 'neo-logo.png', class: 'h-12 w-auto mx-auto'
    
    .mt-6.text-center.text-3xl.tracking-tight.text-gray-900 Sign in
    .mt-2.text-center.text-sm.text-gray-600
      Or
      %a.font-medium.text-purple-500.hover:text-indigo-500{href: new_user_registration_path} Create your account
     
  .mt-8.sm:mx-auto.sm:w-full.sm:max-w-md
    .bg-white.py-8.px-4.sm:px-10.rounded-md.border.border-neutral-200
      = form_for(resource, as: resource_name, url: session_path(resource_name),data: { turbo: false }, html: { class: 'space-y-6'}) do |f|
        = render "devise/shared/error_messages", resource: resource
        %div
          %label.block.text-sm.font-medium.text-neutral-700{for: "email"} Email address
          .mt-1
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'john@doe.com', class: 'block rounded-full text-sm w-full appearance-none border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm'
            
        %div
          %label.block.text-sm.font-medium.text-gray-700{for: "password"} Password
          .mt-1

            = f.password_field :password, autocomplete: "new-password",placeholder: 'Your password', class: 'block rounded-full text-sm w-full appearance-none border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm{autocomplete: "current-password", name: "password", required: "", type: "password"}'
          
        .flex.items-center.justify-between
          .flex.items-center
            = f.check_box :remember_me, id: 'remember-me', class: 'h-4 w-4 rounded border-gray-300 text-lime-400 focus:ring-lime-400{name: "remember-me", type: "checkbox"}'
            
            %label.ml-2.block.text-sm.text-gray-900.cursor-pointer{for: "remember-me"} Remember me
          .text-sm
            %a.text-gray-800.transition.hover:text-gray-900.cursor-pointer{href: new_password_path(resource_name)} Forgot your password?
        %div
          = f.submit "Sign in", class: 'btn-primary w-full '
      .mt-6
        .relative
          .absolute.inset-0.flex.items-center
            .w-full.border-t.border-gray-300
          .relative.flex.justify-center.text-sm
            %span.bg-white.px-2.text-gray-500 
        .mt-6.justify-center
          %div
            = render "devise/shared/links"