.bg-white.px-4.py-5.sm:px-0
  .flex.space-x-3.items-center
    .flex-shrink-0.h-auto
      = link_to user_profile_path(username: user.username) do
        %button#user-menu-button.flex.rounded-full.bg-white.text-sm.focus:outline-none.focus:ring-2.focus:ring-offset-2{"aria-expanded" => "false", "aria-haspopup" => "true", type: "button",'data-action': 'click->dropdown#toggleDropdown'}
          %span.inline-block.h-10.w-10.overflow-hidden.rounded-full.bg-gray-100
            %svg.h-full.w-full.text-gray-300{:fill => "currentColor", :viewbox => "0 0 24 24"}
              %path{:d => "M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"}

    .min-w-0.flex.flex-col.flex-1.text-xs.font-light
      .text-gray-900.uppercase
        %a.hover:underline{href: user_profile_path(username: user.username)} #{user.name}
      .flex.flex-row.text-gray-500.uppercase
        - if @post.publication.present?
          .mr-2
            = "Published in&nbsp;#{link_to @post.publication.name, @post.publication,  class: 'text-black hover:underline'}&nbsp;&nbsp;&nbsp;|".html_safe
        
          
        #{@post.created_at.strftime("%b %d, %Y")}

    - if current_user.present? && (policy(@post).user_is_owner? || policy(@post).user_is_editing_member_of_publication?)
      = render 'dropdown', post: @post