.bg-white.px-4.py-5.sm:px-0
  .flex.space-x-3
    .flex-shrink-0
      = link_to user_profile_path(user) do
        %span.inline-block.h-10.w-10.overflow-hidden.rounded-full.bg-gray-100
          %svg.h-full.w-full.text-gray-300{:fill => "currentColor", :viewbox => "0 0 24 24"}
            %path{:d => "M24
            20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"}

    .min-w-0.flex-1
      %p.text-sm.font-medium.text-gray-900
        %a.hover:underline{href: user_profile_path(user)} #{user.name}
      %p.text-sm.text-gray-500
        #{@post.created_at.strftime('%b %Y')}

    - if current_user.present? && (policy(@post).user_is_owner? || policy(@post).user_is_editing_member_of_publication?)
      
      .flex.flex-shrink-0.self-center{"x-data": "{open: false, abc: false}"}
        .relative.inline-block.text-left
          %div
            %button#menu-0-button.-m-2.flex.items-center.rounded-full.p-2.text-gray-400.hover:text-gray-600{"aria-expanded" => "false", "aria-haspopup" => "true", :type => "button","x-on:click": "abc = ! abc; open =  false"}
              %span.sr-only Open options
              / Heroicon name: mini/ellipsis-vertical
              %svg.h-5.w-5{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z"}

          .absolute.right-0.z-10.mt-2.w-56.origin-top-right.rounded-md.bg-white.shadow-lg.ring-1.ring-black.ring-opacity-5.focus:outline-none{"aria-labelledby" => "menu-0-button", "aria-orientation" => "vertical", :role => "menu", :tabindex => "-1","x-show": "abc", "@click.outside": "open = false; abc = false"}
            .py-1{:role => "none" }
              / Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700"
              - if policy(@post).update?

                %a#menu-0-item-0.text-gray-700.flex.px-4.py-2.text-sm{:href => edit_post_path(@post), :role => "menuitem", :tabindex => "-1", :disabled => true}
            
                  %svg.feather.feather-edit-2.mr-2.self-center{:fill => "none", :height => "16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "18", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"}


                  %span Edit
              
              - if policy(@post).destroy?

                %a#menu-0-item-0.text-gray-700.flex.px-4.py-2.text-sm{:href => post_path(@post), method: :delete,data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this post?'},  :role => "menuitem", :tabindex => "-1", :disabled => true}
            
                  %svg.feather.feather-trash.mr-2.self-center{:fill => "none", :height => "16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
                    %polyline{:points => "3 6 5 6 21 6"}
                    %path{:d => "M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"}

                  %span Delete

               

                -# = link_to 'Delete Publication', @publication, data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this publication?'}, class: "block text-left  py-2 text-sm text-red-400 hover:text-red-600", role: "menuitem", tabindex: "-1"
              - if @post.published?
                %a#menu-0-item-0.text-gray-700.flex.px-4.py-2.text-sm{:href => unpublish_post_path(@post), :data => { confirm: 'Your confirm message' }, :role => "menuitem", :tabindex => "-1"}
    
                  %svg.feather.feather-file-minus.self-center{:fill => "none", :height => "16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "18", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"}
                    
                  %span.ml-2 Unpublish


              - if @post.publication.present?

                
                %a#menu-0-item-0.text-gray-700.flex.px-4.py-2.text-sm.cursor-pointer{:role => "menuitem", :tabindex => "-1","x-on:click": "open = true; abc = false"}
        
                  %svg.feather.feather-file-minus.self-center{:fill => "none", :height => "16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "18", :xmlns => "http://www.w3.org/2000/svg"}
                    %path{:d => "M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"}
                    %polyline{:points => "14 2 14 8 20 8"}
                    %line{:x1 => "9", :x2 => "15", :y1 => "15", :y2 => "15"}

                  %span.ml-2{"x-on:click": "open = true"}
                    Remove from Publication
            
              - else
              
                %a#menu-0-item-0.text-gray-700.flex.px-4.py-2.text-sm.cursor-pointer{:role => "menuitem", :tabindex => "-1","x-on:click": "open = true; abc = false"}
                  %svg.feather.feather-plus.self-center{:fill => "none", :height => "16", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "18", :xmlns => "http://www.w3.org/2000/svg"}
                    %line{:x1 => "12", :x2 => "12", :y1 => "5", :y2 => "19"}
                    %line{:x1 => "5", :x2 => "19", :y1 => "12", :y2 => "12"}
                  %span.ml-2
                    Add to a publication


        
          
          
          
          
          
          .absolute.right-0.z-10.mt-2.pt-5.w-56.origin-top-right.rounded-md.bg-white.ring-1.ring-black.ring-opacity-5.focus:outline-none.px-4.py-2{"aria-labelledby" => "menu-0-button", "aria-orientation" => "vertical", :role => "menu", :tabindex => "-1", "x-show": "open", "@click.outside": "open = false; abc = false"}
            
            
            - if @post.publication.present?

              .text-gray-700.flex.text-sm.mb-5.text-center
                This article is currently published in #{@post.publication.name}.
              
              = simple_form_for(@post, html: {data: { turbo: false } })  do |f|

                
                = f.input :publication_id, as: :hidden, input_html: { value: 0 }
                
                
                .flex.flex-row.form-actions.my-5.items-center.justify-center
                
                  = f.button :submit , "Remove from #{@post.publication.name}",  class: "btn-small"

              
        
  
            - else

              .text-sm.text-gray-700
                Add to one your publications: 
                
              = simple_form_for(@post, html: { class: "py-2", data: { turbo: false } })  do |f|

                = f.collection_radio_buttons :publication_id, current_user.publications, :id, :name do |b| 
                  .flex.flex-row.py-2.justify-between.items-center.mb-3
                    = b.label class: 'text-gray-700 flex py-2 text-sm'       
                    = b.radio_button class: 'h-4 w-4 border-gray-300 text-sky-500 transition disabled:opacity-25'

                .flex.flex-row.form-actions.gap-5.items-center.justify-left

                  = f.button :submit , 'Add Post',  class: "btn-small"

                  .text-xs.cursor-pointer.font-medium{"x-on:click": "open = false; abc = false"}
                    Cancel

              
              .text-xs.text-gray-500
                A post can only be part of a single publication at any given time.


