.grid.grid-cols-8.h-screen.max-w-6xl.mx-auto.divide-x.divide-neutral-200
  .col-span-8.px-10.sm:col-span-5.sm:px-0
    .flex.flex-col.mt-10.pr-10
      
      .text-left.font-semibold.text-2xl.mb-1{class: 'w-max'}
        Stories & Ideas for Today

      .text-left.text-sm.text-neutral-600
        #{Date.today.strftime("%A, %d %B")}

      - if @posts.any?
        = render 'shared/public_user_posts', posts: @posts
      - else
        .p-10.flex.flex-col.rounded-md.border.border-neutral-200.mt-7.bg-neutral-50
          = image_tag 'shy.png', class: 'mx-auto w-52 w-auto'
          .text-center.text-neutral-800.font-semibold.text-xl.mt-7
            Looks like there are no posts for you yet.
          .text-center.text-neutral-500.text-md.mt-1
            Why not follow some writters to get started?

  - if current_user 
    .col-span-3.hidden.sm:block
      .flex.flex-col.mt-10.pl-10.pb-10
        .text-left.font-bold.text-lg
          What you've read recently

        - if current_user.visited_posts.any?
          = render 'shared/public_user_posts', posts: Post.where(id: current_user.visited_posts.map(&:id))
        - else
          .p-10.flex.flex-col
            = image_tag 'shy.png', class: 'mx-auto w-28 w-auto'
            .text-center.text-neutral-800.font-medium.text-xl.mt-7
              You have yet to start reading.
            .text-center.text-neutral-500.text-md.mt-1

.mt-auto
  = render partial: "shared/footer"

              

        

        
