- title "#{@post.published_title}"
.container.max-w-xl.editor-container.mx-auto.px-5.sm:px-0.pt-10


  

  .font-medium.text-4xl.text-center
    = @post.published_title 
  
  = render 'banner', user: @user
  .text-justify
    = @post.published_body
  %hr.mb-5.mt-5

  .block.text-gray-700.font-bold.mb-5
    Comments

  .div#commentsForm
    = render 'comments/form', post: @post, comment: Comment.new
  
  
  .div#comments
    = render 'comments/comments', comments: @post.comments.kept.includes([:user])
    
 