!!!
%html.h-full
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WritterNew
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

   
    %script{:src => "https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/header@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/nested-list@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/code@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@calumk/editorjs-nested-checklist@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/underline@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"}
    %script{src: "https://cdn.jsdelivr.net/npm/editorjs-html@3.4.0/build/edjsHTML.js"}   
    %script{src: "https://cdn.jsdelivr.net/npm/@albatarnik/editorjs-table@2.0.4/dist/table.min.js"}
     
    
   

  %body.h-full.font-sans-serif
    = render 'layouts/navbar'
    .z-0.pt-14.pb-20.h-full{class: ("bg-neutral-50 h-full" if controller_name == 'posts' && action_name == 'edit')}

      = yield


    :javascript
      feather.replace()